<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/assets/icn.png">

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <div class="main-content">
        {{>header}}

        <img class="portrait" src="/assets/1.jpg" alt="logo" />
        <p>This is a small message about the developer</p>
    </div>


    {{>footer}}
</body>

</html>