<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/assets/icn.png">
    <title>Weather App</title>
</head>

<body>

    <div class="main-content">
        {{>header}}

        <form action="">
            <input type="text" placeholder="Enter name...">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3" style="text-transform: capitalize;"></p>
    </div>

    {{>footer}}

    <script src="/js/index.js"></script>

</body>

</html>